*.DS_STORE

# Ignore debug tools
.minecraft/config/World-Stripper*.cfg
.minecraft/config/loadingprofiler.cfg
.minecraft/config/versionchecker.cfg
.minecraft/mods/*VersionChecker*.jar
.minecraft/mods/LoadingProfiler*.jar

# Ignore all log files
*.log

# Ignore natives generation
natives

# No need to track worldSettings
.minecraft/config/jei/worldSettings*.cfg

# Misc
.minecraft/.mixin.out
.minecraft/BotaniaVars.dat
.minecraft/OpenComputersMod-*-lua52-native.64.dll
.minecraft/OpenComputersMod-*-lua53-native.64.dll
.minecraft/astralsorcery
.minecraft/crash-reports
.minecraft/dumps
.minecraft/journeymap
.minecraft/local
.minecraft/logs
.minecraft/minecolonies
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/optionsshaders.txt
.minecraft/saves
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/texturepacks
.minecraft/tv-cache
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/woot

# Personal Settings
instance.cfg

