.minecraft/BotaniaVars.dat
.minecraft/mods/LoadingProfile*.jar
.minecraft/mods/*VersionChecker*.jar
.minecraft/OpenComputersMod-*-lua52-native.64.dll
.minecraft/OpenComputersMod-*-lua53-native.64.dll
.minecraft/astralsorcery
.minecraft/crafttweaker.log
.minecraft/crash-reports
.minecraft/debug.log
.minecraft/journeymap
.minecraft/local
.minecraft/logs
.minecraft/minecolonies
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/optionsshaders.txt
.minecraft/saves
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/texturepacks
.minecraft/tv-cache
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/woot
