*.DS_STORE

# Ignore profiler and version checker
.minecraft/mods/LoadingProfiler*.jar
.minecraft/mods/*VersionChecker*.jar
.minecraft/config/loadingprofiler.cfg
.minecraft/config/versionchecker.cfg

# Ignore all log files
*.log

.minecraft/.mixin.out
.minecraft/BotaniaVars.dat
.minecraft/OpenComputersMod-*-lua52-native.64.dll
.minecraft/OpenComputersMod-*-lua53-native.64.dll
.minecraft/astralsorcery
.minecraft/crash-reports
.minecraft/journeymap
.minecraft/local
.minecraft/logs
.minecraft/minecolonies
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/optionsshaders.txt
.minecraft/saves
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/texturepacks
.minecraft/tv-cache
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/woot
